@import url('https://fonts.googleapis.com/css2?family=Heebo&display=swap');
body{
    background-image: url(e.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  
    
}



img{
    padding: 1%;
    box-sizing: border-box;
    width: 100%;
    border-radius: 20px;
}

.headerclass{
    
    padding: 1%;
    display: flex;
    flex-direction: column;
    font-family: 'Heebo', sans-serif;


    
}

.navegacao{
    
    display: flex;
    flex-direction: row;
}


.navitem{
    position: relative;
    cursor: pointer;
    border: 1px solid;
    background-color: rgb(132, 206, 160);
    text-decoration: none;
    text-align: center;
    color: whitesmoke;
    flex-grow: 1;
    font-size: 20px;
    transition: all 0.4s cubic-bezier(0.215, 0.610, 0.355, 1) 0s;
    
   
}



.sessaoclass{
 
    flex-wrap: wrap;
    height: auto;
    display: flex;
    flex-direction: row;
   
}


.artigoclass{
    color: white;
    margin: 5px;
    border: 3px solid white;
    border-radius: 12px;
    background-image: url(f.jpg);
    background-size: cover;
    text-align: center;
    flex-grow: 1;
   
   
    flex-basis: 25%;
 
   
}

.artigoclass a{
    cursor:pointer;
   
}





.footerdiv{
    background-image: url(f.jpg);
    background-size: cover;
    background-color: rgb(0, 0, 0);
    text-align: center;
    color:white;
}